
body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: monospace;
}

.terminal {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30%;
  background-color: #111;
  padding: 1rem;
  border-right: 1px solid #444;
}

.sidebar p {
  color: #ccc;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
}

.sidebar a {
  color: #8aff80;
  text-decoration: none;
}

.sidebar a:hover {
  color: #fff;
}

.main {
  flex: 1;
  padding: 2rem;
  font-size: 23px;
}

.ascii-title {
  font-size: 1.5rem;
  color: #ffaaff;
}

/* Content: max line length on large screens */
@media (min-width: 769px) {
  #main {
    max-width: 140ch;  /* About half what you have now */
    margin: 0 auto;   /* Center on screen */
  }
}

/* Mobile: slightly increase font size */
@media (max-width: 768px) {
  body {
    font-size: 1.5em; /* Just a slight bump */
  }
}
